<div>
    <h1>Empleados Oficio Api</h1>
    <form #empleadosForm="ngForm">
        <label>Seleccione un oficio: </label>
        <select #selectoficio name="selectoficio" class="form-control">
            <option *ngFor="let oficio of oficios">
                {{oficio}}
            </option>
        </select>
        <button class="btn btn-info" (click)="buscarEmpleados()">
            Buscar empleados
        </button>
    </form>
    <hr/>
    <table class="table table-info" *ngIf="empleados">
        <thead>
            <tr>
                <td>Apellido</td>
                <td>Oficio</td>
                <td>Salario</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empleados">
                <td>{{emp.apellido}}</td>
                <td>{{emp.oficio}}</td>
                <td>{{emp.salario}}</td>
            </tr>
        </tbody>
    </table>
</div>